.books {
  margin: 40px 0;
}

input {
  width: 200px;
}

@media (max-width: 768px) {
  input {
    width: 100%;
  }
}

input, .btn {
  display: inline-block
}

.btn-primary {
  margin: 2px 0;
}

img {
  width: 120px;
}

.book {
  display: inline-block;
}

.image-container {
  margin: 4px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #EEEEEE;
}

footer {
  text-align: center;
  padding: 30px;
}
