<div class="container">
  <h1>Login</h1>
  <h5>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></h5>
  <h5>Admin account is <code>admin@admin.com</code> / <code>admin</code></h5>
  <form #f="ngForm" novalidate (ngSubmit)="onLogin(f)">
    <div class="form-group">
      <label for="username">Email</label>
      <input type="text" class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel" required pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$'>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" [(ngModel)]="user.password" #password="ngModel" name="password">
    </div>
    <ul class="text-danger list-unstyled" *ngIf="formSubmitted && email.invalid">
      <li *ngIf="email.errors.required">
        Please enter your email and password.
      </li>
      <li *ngIf="email.errors.pattern">
        A valid email must be given.
      </li>
    </ul>
    <ul class="text-danger list-unstyled" *ngIf="formSubmitted">
      <li *ngIf="errorMessage">
        {{ errorMessage }}
      </li>
    </ul>
    <button type="submit" class="btn login"><h4>Login</h4></button>
    <a class="btn register"><h4>Register</h4></a>
  </form>
</div>
