<div class="jumbotron">
  <h2 class="display-3">BookJump</h2>
  <p class="lead">The first rule of bookjump is don't talk about bookjump.</p>
  <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
</div>
<div class="container features">
  <h2>Features:</h2>
  <hr />
  <div class="container">
    <div class="row">
      <a class="col-xs-12 col-sm-6 col-md-4 feature" href="#">
        Catalogue your books online
      </a>
      <a class="col-xs-12 col-sm-6 col-md-4 feature" href="#">
        See all of the books our users own
      </a>
      <a class="col-xs-12 col-sm-6 col-md-4 feature" href="#">
        Request to borrow other users' books
      </a>
      <a class="col-xs-12 col-sm-6 col-md-4 feature" href="#">
        Easily manage books and requests from your dashboard
      </a>
    </div>
  </div>
</div>
<hr />
<footer>
  <a href="#">@Eisenegan</a> | <a href="https://github.com/EisenEgan">GitHub</a>
</footer>
